/* TODO:VIOLET COLOR */
.color-violet-50 {
  color: var(--violet-50) !important;
}

.color-violet-100 {
  color: var(--violet-100) !important;
}

.color-violet-200 {
  color: var(--violet-200) !important;
}

.color-violet-300 {
  color: var(--violet-300) !important;
}

.color-violet-400 {
  color: var(--violet-400) !important;
}

.color-violet-500 {
  color: var(--violet-500) !important;
}

.color-violet-600 {
  color: var(--violet-600) !important;
}

.color-violet-700 {
  color: var(--violet-700) !important;
}

.color-violet-800 {
  color: var(--violet-800) !important;
}

.color-violet-900 {
  color: var(--violet-900) !important;
}

/* TODO:GRAY COLOR */
.color-gray-50 {
  color: var(--gray-50) !important;
}

.color-gray-100 {
  color: var(--gray-100) !important;
}

.color-gray-200 {
  color: var(--gray-200) !important;
}

.color-gray-300 {
  color: var(--gray-300) !important;
}

.color-gray-400 {
  color: var(--gray-400) !important;
}

.color-gray-500 {
  color: var(--gray-500) !important;
}

.color-gray-600 {
  color: var(--gray-600) !important;
}

.color-gray-700 {
  color: var(--gray-700) !important;
}

.color-gray-800 {
  color: var(--gray-800) !important;
}

.color-gray-900 {
  color: var(--violet-900) !important;
}