@import "colors";
@import "functions";
$violets: () !default;
$violets: map-merge(
                (
                        "50":$violet-50,
                        "100":$violet-100,
                        "200":$violet-200,
                        "300":$violet-300,
                        "400":$violet-400,
                        "500":$violet-500,
                        "600":$violet-600,
                        "700":$violet-700,
                        "800":$violet-800,
                        "900":$violet-900,
                ),
                $violets
);

$grays: () !default;
$grays: map-merge(
                (
                        "50":$gray-50,
                        "100":$gray-100,
                        "200":$gray-200,
                        "300":$gray-300,
                        "400":$gray-400,
                        "500":$gray-500,
                        "600":$gray-600,
                        "700":$gray-700,
                        "800":$gray-800,
                        "900":$gray-900,
                ),
                $grays
);

$reds: () !default;
$reds: map-merge(
                (
                        "50":$red-50,
                        "100":$red-100,
                        "200":$red-200,
                        "300":$red-300,
                        "400":$red-400,
                        "500":$red-500,
                        "600":$red-600,
                        "700":$red-700,
                        "800":$red-800,
                        "900":$red-900,
                ),
                $reds
);

$oranges: () !default;
$oranges: map-merge(
                (
                        "50":$orange-50,
                        "100":$orange-100,
                        "200":$orange-200,
                        "300":$orange-300,
                        "400":$orange-400,
                        "500":$orange-500,
                        "600":$orange-600,
                        "700":$orange-700,
                        "800":$orange-800,
                        "900":$orange-900,
                ),
                $oranges
);

$yellows: () !default;
$yellows: map-merge(
                (
                        "50":$yellow-50,
                        "100":$yellow-100,
                        "200":$yellow-200,
                        "300":$yellow-300,
                        "400":$yellow-400,
                        "500":$yellow-500,
                        "600":$yellow-600,
                        "700":$yellow-700,
                        "800":$yellow-800,
                        "900":$yellow-900,
                ),
                $yellows
);

$greens: () !default;
$greens: map-merge(
                (
                        "50":$green-50,
                        "100":$green-100,
                        "200":$green-200,
                        "300":$green-300,
                        "400":$green-400,
                        "500":$green-500,
                        "600":$green-600,
                        "700":$green-700,
                        "800":$green-800,
                        "900":$green-900,
                ),
                $greens
);

$teals: () !default;
$teals: map-merge(
                (
                        "50":$teal-50,
                        "100":$teal-100,
                        "200":$teal-200,
                        "300":$teal-300,
                        "400":$teal-400,
                        "500":$teal-500,
                        "600":$teal-600,
                        "700":$teal-700,
                        "800":$teal-800,
                        "900":$teal-900,
                ),
                $teals
);

$light-blues: () !default;
$light-blues: map-merge(
                (
                        "50":$light-blue-50,
                        "100":$light-blue-100,
                        "200":$light-blue-200,
                        "300":$light-blue-300,
                        "400":$light-blue-400,
                        "500":$light-blue-500,
                        "600":$light-blue-600,
                        "700":$light-blue-700,
                        "800":$light-blue-800,
                        "900":$light-blue-900,
                ),
                $light-blues
);

$blues: () !default;
$blues: map-merge(
                (
                        "50": $blue-50,
                        "100":$blue-100,
                        "200":$blue-200,
                        "300":$blue-300,
                        "400":$blue-400,
                        "500":$blue-500,
                        "600":$blue-600,
                        "700":$blue-700,
                        "800":$blue-800,
                        "900":$blue-900,
                ),
                $blues
);

$pinks: () !default;
$pinks: map-merge(
                (
                        "50": $pink-50,
                        "100":$pink-100,
                        "200":$pink-200,
                        "300":$pink-300,
                        "400":$pink-400,
                        "500":$pink-500,
                        "600":$pink-600,
                        "700":$pink-700,
                        "800":$pink-800,
                        "900":$pink-900,
                ),
                $pinks
);

$border-width: 1px;
$border-color: pink("200");


