.new-object {
  border: none;
  margin-bottom: 2rem;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.428rem;
  padding: 1rem 0.5rem;
}

.app-content {
  border: none;
  margin-bottom: 2rem;
  background-clip: border-box;
  border-radius: 0.428rem;
}

.header-navbar-shadow {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(44%, hsla(0, 0%, 97.3%, 0.95)),
    color-stop(73%, hsla(0, 0%, 97.3%, 0.46)),
    to(hsla(0, 0%, 100%, 0))
  );
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 97.3%, 0.95) 44%,
    hsla(0, 0%, 97.3%, 0.46) 73%,
    hsla(0, 0%, 100%, 0)
  );
  left: 0;
}
.header-navbar-shadow {
  padding-top: 2.2rem;
  background-repeat: repeat;
}
.header-navbar-shadow {
  display: block;
  width: 100%;
  height: 102px;
  position: fixed;
  top: 0;
  z-index: 11;
}

@media screen and (max-width: 992px) {
  .navbar {
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    right: 0;
    left: unset !important;
    margin: 1rem 1rem 0 !important;
    border-radius: 0.428rem;
    position: fixed;
    width: calc(100% - 4rem - 100px);
    z-index: 13;
    min-height: 4.45rem;
  }
}
@media screen and (max-width: 576px) {
  .header-navbar-shadow {
    height: 75px;
  }
  .object,
  .app-content,
  .new-object {
    margin-top: 0;
  }
  .navbar {
    width: 100% !important;
    left: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    min-height: unset !important;
  }
}
.btn:not(.dropdown-item) {
  box-shadow: unset !important;
  border: 1px solid transparent !important;
  padding: 0.786rem 1.5rem !important;
  border-radius: 0.358rem !important;
  text-align: center;
  font-weight: 500;
  user-select: none;
  font-size: 1rem;
  line-height: 1;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background 0s,
    border 0s, -webkit-box-shadow 0.15s ease-in-out !important;
  text-transform: none;

  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  height: 45px;
}
.btn i,
.btn span,
.btn svg,
.btn img {
  display: inline-block;
  margin: 0 6px;
}

.btn-primary {
  color: #fff;
  background-color: #5851d8 !important;
  border-color: #5851d8 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #463ed3 !important;
  border-color: #463ed3 !important;
  box-shadow: 0 8px 25px -8px #463ed3 !important;
}

.btn-success {
  color: #fff;
  background-color: #45a85c !important;
  border-color: #45a85c !important;
}

.btn-success:hover {
  color: #fff;
  background-color: #429c57 !important;
  border-color: #429c57 !important;
  box-shadow: 0 8px 25px -8px #429c57 !important;
}

.btn-secondary:not(.dropdown-item) {
  color: #fff;
  background-color: #82868b !important;
  border-color: #82868b !important;
}
.btn-secondary:not(.dropdown-item):hover {
  color: #fff;
  background-color: #82868b !important;
  border-color: #82868b !important;
  box-shadow: 0 8px 25px -8px #82868b !important;
}

.btn-warning {
  color: #fff !important;
  background-color: #ff9f43 !important;
  border-color: #ff9f43 !important;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ff9f43 !important;
  border-color: #ff9f43 !important;
  box-shadow: 0 8px 25px -8px #ff9f43 !important;
}

.btn-warning {
  color: #fff !important;
  background-color: #138496 !important;
  border-color: #138496 !important;
}
.btn-info:hover {
  color: #fff;
  background-color: #138496 !important;
  border-color: #138496 !important;
  box-shadow: 0 8px 25px -8px #138496 !important;
}
.btn-default {
  color: #414141 !important;
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
}
.btn-default:hover {
  color: #414141;
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  box-shadow: 0 8px 25px -8px #e7e7e7 !important;
}

.btn-outline-secondary {
  border: 1px solid #82868b !important;
  background-color: transparent;
}

.btn-outline-secondary:hover:not(.disabled):not(:disabled) {
  background-color: rgba(130, 134, 139, 0.04);
}

.btn-outline-secondary:hover:not(.disabled):not(:disabled) {
  color: #82868b;
}

img[lazy="error"] {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
table.b-table[aria-busy="true"] {
  opacity: 0.6;
}

.custom-table table tbody tr td {
  font-size: 16px;
  font-family: "MuseoSansCyrl-300";
  color: black;
}

.custom-table table tr th,
.custom-table table tr td {
  padding: 15px 25px;
  vertical-align: middle;
}

.custom-table table tbody tr,
.custom-table table thead tr {
  background-color: white;
  border-radius: 6px;
  box-shadow: -2px -2px 7px #ffffff73, 1px 1px 5px rgba(94, 104, 121, 0.288);
}

.custom-table table thead tr th {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px !important;
  font-size: 14px;
  font-family: "MuseoSansCyrl-700";
  color: #222222;
  border-bottom: 1px solid rgba(190, 190, 190, 0.336);
  text-transform: uppercase;
}
.custom-table tr {
  background-color: transparent;
  transition: all 0.3s ease-in;
}

.custom-table tr th:first-of-type,
.custom-table tr td:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.custom-table tr th:last-of-type,
.custom-table tr td:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.custom-table table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.custom-table table tbody tr:hover {
  background-color: transparent;
  -webkit-box-shadow: 0px 3px 9px 1px rgba(5, 8, 9, 0.08);
  box-shadow: 0px 3px 9px 1px rgba(5, 8, 9, 0.08);
}

.custom-table.b-table-sticky-header {
  max-height: 75vh;
}

.custom-table.b-table-sticky-header::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-table.b-table-sticky-header::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

.custom-table.b-table-sticky-header::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
  border-radius: 0;
}

.custom-table.b-table-sticky-header::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0);
}

.table.b-table > thead > tr > [aria-sort].b-table-sort-icon-left,
.table.b-table > tfoot > tr > [aria-sort].b-table-sort-icon-left {
  background-position: left calc(1rem / 2) center;
  padding-left: calc(0.75rem + 0.65em);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page-item a {
  margin: 0 5px;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 6px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 7px #ffffff73, 1px 1px 5px rgba(94, 104, 121, 0.288);
}
.pagination .page-item.active a {
  background-color: #5851d8;
  border-color: #5851d8;
}

.page-link:focus {
  box-shadow: unset !important;
}

.fixed-menu,
.object__link {
  box-shadow: 0 0 15px 0 rgba(34, 41, 47, 0.05);
}

select.form-control {
  height: 45px !important;
}

input.form-control,
input,
textarea {
  padding: 0.438rem 1rem !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #d8d6de !important;
  border-radius: 0.357rem !important;
  height: 45px !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.45 !important;
  color: #6e6b7b !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out !important;
}

input.form-control:focus,
input:focus,
textarea:focus,
select:focus {
  background-color: #fff !important;
  border-color: #7367f0 !important;
  box-shadow: 0 3px 10px 0 rgba(34, 41, 47, 0.1) !important;
}
input.form-control:focus,
input,
textarea,
select {
  color: #6e6b7b !important;
  outline: 0 !important;
}
input.form-control:focus.is-valid,
input.form-control:focus:valid,
input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 3px 10px 0 rgba(34, 41, 47, 0.1) !important;
}

textarea {
  height: 100px !important;
  resize: none !important;
}

.modal {
  display: unset !important;
}

.modal-dialog {
  position: fixed !important;
  right: -450px !important;
  transform: translateX(0) !important;
  transition: all 0.3s ease 0s !important;
  max-width: unset !important;
  margin: 0 !important;
  width: 450px !important;
  height: 100vh !important;
  margin-left: auto !important;
}

.modal-open .modal-dialog {
  transform: translateX(-450px) !important;
}

.modal-content,
.modal-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-body form {
  height: 100%;
}

@media screen and (max-width: 576px) {
  .modal-dialog {
    right: -100% !important;
    width: 100% !important;
  }

  .modal-open .modal-dialog {
    transform: translateX(-100%) !important;
  }
}
